# Configurações do Servidor
PORT=3001

# Configurações do Email (Gmail)
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-app-password-do-gmail

# Email que receberá as mensagens (pode ser o mesmo do EMAIL_USER)
RECEIVER_EMAIL=vetrynlabs@gmail.com

# Enviar email de confirmação para o cliente? (true/false)
SEND_CONFIRMATION=true

